:root {

  --primary-color: #7264ed;
  --secondary-color: #db0e4c;
}

*{

    margin: 0;
    padding: 0

}



#loadBtn {
    background-color: blue; 
    border: none; 
    color: white; 
    padding: 12px 24px; 
    font-size: 16px; 
  }
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }



  .colorVariable h4 {

    color: var(--primary-color)
  }

  .colorVariable h2 {
    color: var(--secondary-color)
  }

  #btn-EL {

    color: var(--primary-color);
  }